<footer class="footer">
  <div class="footer__nav">
    <p class="footer__copyright">&copy; 2025</p>
    <a
      href="https://github.com/Qquazld"
      target="_blank"
      aria-label="GitHub"
      class="footer__link"
      >Yann Letertre</a
    >
  </div>
</footer>
